hr {
  opacity: 0.2;
}

.btn-detalhes:hover {
  background: #805f4a;
  color: white;
}

.btn-avaliar {
  background-color: #5a3d2b;
}

.btn-avaliar:hover {
  background-color: #463022;
}

.pedido-card {
  border-radius: 12px;
  width: 100%; 
  transition: transform 0.2s, box-shadow 0.2s;
  

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    
  }

  .valor-total {
    float: right;
    margin-left: 150px;
    font-weight: 600;
    color: #28a745;
  }

  .pedidos-itens {
    width: 100%; 
    margin-top: 10px;

    .item {
      padding: 8px 0;
      border-bottom: 1px solid #eee;
      display: flex;
      align-items: righ;

      &:last-child {
        border-bottom: none;
      }

      .item-imagem {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 6px;
        border: 1px solid #ddd;
      }

      .item-info {
        display: flex;
        flex-direction: column;
        margin-left: 10px; 

        .item-nome {
          font-weight: 500;
        }

        .item-qtd-preco {
          font-size: 0.85rem;
          color: #555;
        }
      }
    }
  }
}

