.produto-card {
  width: 22rem;
  background: #f8f4ef;
  border-radius: 5px;
  padding: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  border: 0.5px solid rgba(84, 57, 43, 0.5);
  display: flex;
  flex-direction: column;
}

.btn-icone svg {
  color: #54392b;
  fill: #54392b;
}

.btn-adicionar svg {
  color: #ffffff;
  fill: #ffffff;
}

.produto-img {
  width: 100%;
  height: 400px; 
  border-radius: 16px;
  object-fit: cover;
}

.btn-icone {
  position: absolute;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #e8dccf;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #54392b;
  font-size: 1.1rem;
}

.favorito {
  top: 15px;
  right: 15px;
}

.compartilhar {
  top: 65px;
  right: 15px;
}

.produto-body {
  text-align: left;
  padding: 10px 6px 0 6px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.produto-badge {
  background: #f4efea;
  width: 31%;
  text-align: center;
  padding: 4px 10px;
  border-radius: 50px;
  border: 1px solid #ded4c8;
  color: #54392b;
  font-size: 0.75rem;
}

.produto-titulo {
  margin-top: 8px;
  font-weight: 600;
  height: 2.4em; 
  line-height: 1.2em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.produto-rating {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.produto-rating small {
  margin-left: 4px;
  color: #6c6c6c;
}

.produto-estoque {
  color: #7c7c7c;
}

.produto-preco {
  font-weight: 700;
  margin: 8px 0 14px;
}

.produto-botoes {
  display: flex;
  gap: 10px;
  margin-top: auto; 
}

.btn-detalhes {
  flex: 1;
  padding: 8px 0;
  border-radius: 8px;
  font-weight: 500;
}

.btn-adicionar {
  flex: 1;
  padding: 8px 0;
  border-radius: 8px;
  background: #54392b;
  color: white;
  font-weight: 500;
}

.btn-detalhes:hover {
  background: #805f4a;
  color: white;
}

.btn-adicionar:hover {
  background-color: #463022;
}

