.footer {
    background-color: #54392B;
    color: white;
}

ul, a {
    list-style: none;
    text-decoration: none;
    color: white;
    padding-left: 0;
    font-size: 14px;
    margin-top: 7px;
}
