.navbar-loopz {
  background-color: #54392b;
}

#borda {
  border-color: #805c4b !important;
}

.nav-link {
  color: white !important;
}

.icons-navbar {
  text-decoration: none;
  color: white;
  font-size: 20px;

  @media (max-width: 576px) {
    font-size: 16px;
  }
}

.navbar-toggler {
  border-color: white !important;
}

.navbar-toggler-icon {
  filter: invert(100%);
}

.icons-navbar span {
  max-width: 120px; 
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}


.barra-pesquisa {
  width: 400px;

  @media (max-width: 992px) {
    width: 250px;
  }

  @media (max-width: 576px) {
    width: 100%;
  }
}
