.navbar-loopz {
    background-color: #54392B;
}

#borda{
    border-color: #805c4b !important;
}

.nav-link {
  color: white !important;
}

.barra-pesquisa {
    width: 400px;
}

.icons-navbar {
     text-decoration: none;
     color: white;
}