a {
  text-decoration: none;
}

.produto-img {
  max-height: 430px;
  object-fit: contain;
}

.produto-badge {
  border: 1px solid #54392b;
}

.estrela {
  color: #ffc107;
}

.produto-qtd {
  width: 60px !important;
}

.btn-add {
  background: #54392b;
  color: white;
  flex: 1;
}

.btn-add:hover {
  background: #6b4c3d;
}

.produto-descricao {
  line-height: 1.4;
}

.btn-outline-secondary:hover {
  background: #805f4a;
}
