<div class="container my-5 min-vh-100">
    @if (favoritos.length === 0) {
    <div class="text-center mt-5">
        <i class="bi bi-box2-heart fs-1"></i>
        <h3 class="fw-bold">Nenhum produto favoritado</h3>
        <h6 class="fw-light">Adicione produtos aos favoritos para vê-los aqui</h6>
        <div class="explorar-mais">
            <button class="btn mt-3 mb-5 explorar-mais-btn" routerLink="#">Explorar Produtos</button>
        </div>
    </div>
    }

    @if (favoritos.length > 0) {
    <div class="row">
        @for (produto of favoritos; track produto.cdProduto) {
        <div class="col-md-4">
            <app-card [produto]="produto"></app-card>
        </div>
        }
    </div>
    }
</div>