.card-title {
    font-size: 60px;
}

.card-text {
    font-size: 15px;
}

.explorar-mais-btn {
  background-color: #54392B;
  color: #fff;
  padding: 10px 20px;
}

.explorar-mais-btn:hover {
  background-color: #6d4a3a;
}

.textoMarrom {
    color: #3d271c;
}

ul, a {
    list-style: none;
    text-decoration: none;
    color: white;
    padding-left: 0;
    font-size: 14px;
    margin-top: 7px;
}

