.card{
  border-radius: 0 !important;
}
.card-title {
    font-size: 60px;
}

.card-text {
    font-size: 15px;
}

.explorar-mais-btn {
    background-color: #54392B;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
}

.explorar-mais-btn:hover {
    background-color: #6d4a3a;
}


@media (max-width: 992px) {
    .card-title {
        font-size: 20px;
    }
    .card-text {
        font-size: 14px;
    }
    .explorar-mais-btn {
        padding: 8px 16px;
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .card-title {
        font-size: 10px;
    }
    .card-text {
        font-size: 8px;
    }
    .explorar-mais-btn {
        padding: 6px 12px;
        font-size: 12px;
    }
}

/* SEÇÃO RECOMENDADOS */
.row.g-3 > .col {
    margin-bottom: 20px;
}

/* SEÇÃO QUALIDADE / ENTREGA / PAGAMENTO */
.bg-secondary-subtle h5 {
    font-size: 18px;
}

.bg-secondary-subtle p {
    font-size: 14px;
}

.bg-secondary-subtle svg {
    width: 20px;
    height: 20px;
}


@media (max-width: 576px) {
    .bg-secondary-subtle h5 {
        font-size: 14px;
    }
    .bg-secondary-subtle p {
        font-size: 12px;
    }
    .bg-secondary-subtle svg {
        width: 16px;
        height: 16px;
    }
}


